.public-header{
	height: 110px;
	/*background: #003bb3;*/
}

.public-container{
	position: relative;
	margin: 0 auto;
	/*background: #006ddc;*/
	width: 1100px;
}

.public-footer{
	height: 318px;
	background: #3b3b3b;
}