.public-header .header-logo{
	float: left;
	margin-top: 40px;
}

.public-header .header-nav{
	float: right;
	font-size: 14px;
}

.public-header .header-nav .item{
	float: left;
	margin-top: 44px;
	margin-left: 50px;
}

.public-header .header-logo a{
	/*如果不设置超链接的高度，则会导致logo不能点击*/
	width: 182px;
	height: 54px;
	background: url(../img/logo.jpg) no-repeat;
}

.public-header .header-nav a{
	color: #3b3b3b;
}

.footer-col{
	float: left;
	width: 230px;
	margin-right: 60px;
	margin-top: 100px;
	font-size: 16px;
	line-height: 1.8;
	color: #fff;
}

/*最后一个不设置右外边距*/
.footer-col:last-child{
	margin-right: 0;
}

.footer-col p{
	font-size: 16px;
}

.footer-col a{
	color: #d6d6d6;
}

.footer-col a:hover{
	color: gray;
}

.footer-logo{
	width: 182px;
	height: 55px;
	margin-top: -16px;
	background: url(../img/footer-logo.png);
}

.index-banner{
	position: relative;
	/*width: 1500px;*/
	background: #b3b3b3;
}

.index-banner-bg{
	height: 570px;
	/*overflow: hidden;*/
}

/*.index-banner-bg img{
	margin: 0 auto;
}*/

.index-banner-text{
	position: absolute;
	top: 200px;
	left: 362px;
}

.text-logo{
	width: 776px;
	height: 117px;
	background: url(../img/text-logo.png) no-repeat;
}

.text-info{
	margin-top: 17px;
	/*设置文字居中*/
	text-align: center;
	color: #fff;
}

/*给文字设置两条边线*/
.text-info .line-left, .line-right{
	/*首先设置为行内块元素
	 * 然后设置宽度,这里的宽度就是线的长度,高为1,所以显示为一条线
	 * 接着设置盒子的上边框
	 * vertical-align设置为middle可以让线居中显示
	 */
	display: inline-block;
	width: 40px;	
	border-top: 1px solid #fff;
	vertical-align: middle;
}

.text-info span{
	margin: 0 26px;
}

/*menu-tips简单的做法是直接切图作为背景
.menu-tips{
	width: 155px;
	height: 75px;
	margin-left: 673px;
	font: bold 20px/65px garamond;
	color: #fff;
	text-align: center;
	background: url(../img/menu-tips-bg.png) no-repeat;
}*/

/*慕课网上使用CSS设置after伪类来让menu-tips实现三角形*/
.menu-tips{
	position: relative;
	width: 155px;
	height: 75px;
	margin-left: 673px;
	text-align: center;
	font: bold 20px/65px garamond;
	color: #fff;
	background: #f34949;
}

/*实现三角形的CSS伪类*/
.menu-tips:after{
	position: absolute;
	content: "";
	width: 0;  
	height: 0;  
	border-left: 75px solid transparent;  
	border-right: 75px solid transparent;  
	border-bottom: 10px solid #fff;
	top: 65px;
	left: 2.5px;
}
