body, div, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, ol, ul, li, input, a, p, textarea{
	margin: 0;
	padding: 0;
	font-family: "helvetica, arial, sans-serif";
}

ol, ul, li{
	list-style: none;
}

a{
	display: block;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img{
	display: block;
	border: none;
}

.clearfloat{
	zoom: 1;
}

.clearfloat:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}